h1{
    color: blue; font-size: 70px; 
    text-align: center;
    background-color: violet;
    display: inline-block;
}
body{
    background-color: black;
}
p{
   color: wheat; font-size: xx-large;
   background-color: darkmagenta;
   display: inline-block;
}
h2{ color: darkturquoise;
    background-color: darkviolet;
    font-size: 70px;
    display: inline-block;
border: 5px yellow solid;
}
p{
    color: #000000;
    background-color: bisque;
    width: 500px;
    font-size: 20px;
padding: 30px 60px;
padding: 100px 100px 100px 100px;

margin: 50px; 

border:10px yellow solid ;
border-radius: 30px;
}